:root{
  --cor-principal: #B6EADA;
  --cor-secundaria: #5B8FB9;
  --cor-tercearia: #301E67;
  --cor-de-fundo: #000;

  --font-principal:  'Inter', sans-serif;
  --font-krona: 'Krona One', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
  --font-nunito: 'Nunito', sans-serif;
}

*{
  padding: 0;
  margin: 0;
}

body{
  background-color: var(--cor-de-fundo);
}

.principal{
  background-image: url("/assets/Imagemdefundo.png");
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
  text-align: center;
}

.container{
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%; 
}

.empresa__logo{
  position: absolute;
  top: 0.9375rem;
  left: 37.5rem;
  width: 18.75rem;
  height: 6.25rem;
}

.caixa{
  position: relative;
  top: -80px;
  margin: 0 6em;
  
}

.titulo{
  color: var(--cor-principal);
  font-size: 37px;
  
}

.paragrafo{
  color: white;
  font-size: 1.4rem;
}

.botao{
  background-color: transparent;
  gap: 2px;
  padding: 1em;
  color: white;
  display: block;
  text-decoration: none;
  margin-top: 1em;
  border: 2px solid var(--cor-principal);
  font-size: 20px;
}

.secundario{
  align-items: center;
  margin: 0 6em;
}

.descricao__titulo {
  font-weight: 700;
  font-size: 48px;
  color: var(--cor-principal);
  margin-bottom: 0.1em;
}

.descricao__texto{
  color: rgb(196, 196, 196);
  font-size: 26px;
}

.raglan{
  margin: 0 0 0 6em;
}










